<div>
    <div class="row" style="padding-top:18%">
        <div class=" col s2 offset-s2" ng-if="states">
            <label>Select the state</label>
            <select>
                <option value="" disabled selected>Choose your option</option>
                <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
            </select>
        </div>
        <div class=" col s2 " ng-if="states">
            <label>Select the city</label>
            <select>
                <option value="" disabled selected>Choose your option</option>
                <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
            </select>
        </div>
        <button class="btn waves-effect waves-light col s1 offset-s1" type="submit" style="margin-top:20px;" name="action">Search
        </button>
    </div>
</div>