/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

li:hover {
    background-color: #26a69a !important;
    color: #eafaf9;
}
#registrationModal {
    max-width: 28%;
   }

.customAutoComplete{
    max-height: 80px !important;
    overflow-y: auto !important;
}


// aquired things

.card-image {
    height: 250px;
}

#profile-page-header .card-image {
    height: 250px;
}

#profile-page-header .card-profile-image {
    cursor: pointer;
    left: 40px;
    margin: 0;
    position: absolute;
    top: 220px;
    width: 110px;
    z-index: 1;
}

#profile-page-header .card-content {
    margin-top: -40px;
}

#content .container .row {
    margin-bottom: 0;
}

#profile-page-header .card-content .card-title {
    margin-bottom: 0;
}

.medium-small {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.btn-floating {
    border-radius: 48% !important;
  }

.fa-heart:hover {
    color: red;
}
