<nav>
  <div class="navbar-wrapper container">
      <a href="#/homepage" class="brand-logo" ng-bind="brandName"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <a ng-repeat="x in headerOptions" ui-sref="{{x.path}}" ng-bind="x.displayName"></a>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <a ng-repeat="x in headerOptions" ui-sref="{{x.path}}" ng-bind="x.displayName"></a>
      </ul>
  </div>
</nav>
